# Customz
git@github.com:fliphess/WS2801FX.git
git@github.com:fliphess/Adafruit-WS2801-Library.git

#From the http://arduino.esp8266.com/stable/package_esp8266com_index.json package list, using the arduino ide:
ArduinoJson
PubSubClient
WiFiManager
